[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pymupdf = "*"
arrow = "*"
alibabacloud-ocr-api20210707 = "*"
openpyxl = "*"

[dev-packages]
black = "*"
coverage = {extras = ["toml"], version = "*"}
flake8 = "*"
isort = "*"
pytest = "*"
pytest-env = "*"
ipykernel = "*"

[requires]
python_version = "3.12"
